<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<!-- nothing to do -->
    <application>
        <provider
            android:name=".BypassProvider"
            android:authorities="${applicationId}.RestrictionBypass"
            android:enabled="true"
            android:exported="false">
        </provider>
    </application>
</manifest>
